body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg_deskotp {
  background-color: #a4ccd9;
  height: 100vh;
}

@media (min-width: 350px) and (max-width: 768px) {
  .bg_deskotp {
    background-color: #a4ccd9;
    height: 10vh;
  }
}
